.pacman {
  background: rgba(213, 213, 213, 0.39);
  background: radial-gradient(
    circle farthest-corner at center center,
    rgba(213, 213, 213, 0.39) 0%,
    rgba(238, 238, 238, 0.36) 80%
  );
  background: -webkit-radial-gradient(
    circle farthest-corner at center center,
    rgba(213, 213, 213, 0.39) 0%,
    rgba(238, 238, 238, 0.36) 80%
  );
  background: -moz-radial-gradient(
    circle farthest-corner at center center,
    rgba(213, 213, 213, 0.39) 0%,
    rgba(238, 238, 238, 0.36) 80%
  );
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
