.mainNav {
  color: rgb(219, 219, 219);
  background-color: #0c0a20;
}

.navLink {
  margin-right: 4rem;
  color: whitesmoke;
}

@media screen and (max-width: 360px) {
  .brand {
    display: none;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* imposta un colore di sfondo semitrasparente */
  backdrop-filter: blur(5px); /* applica un effetto di sfocatura */
  z-index: 999; /* imposta il livello di profondità dello z-index */
}

.down {
  border: 0.5px solid white;
  margin-right: 1rem;
  align-self: center;
}

.out {
  margin-right: 0.5rem;
  transition: all 0.5s;
}

.outHover {
  transform: translate(-0.3rem);
}
